@page "/"
@inject NavigationManager navMgr

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
        <div class="d-flex justify-content-center">
	        <RadzenCard class="m-3" Style="width: 500px"> 
		        <div class="p-3 text-center"> 
			        <h3>Hello, @context.User.Identity.Name</h3>
		        </div>
                <hr />
                <RadzenButton Variant="Variant.Outlined" Text="Create Page" Click="@(() => navMgr.NavigateTo("/s/create"))" />
	        </RadzenCard>
        </div>
    </Authorized>
</AuthorizeView>

<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Default TextBox</RadzenText>
                <RadzenTextBox Change=@(args => OnChange(args, "TextBox")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Placeholder</RadzenText>
                <RadzenTextBox Placeholder="Search..." Change=@(args => OnChange(args, "TextBox with placeholder")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">5 characters maximum</RadzenText>
                <RadzenTextBox @bind-Value=@value MaxLength="5" Change=@(args => OnChange(args, "TextBox with 5 maximum characters")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Change on every input</RadzenText>
                <RadzenTextBox @oninput=@(args => OnChange(args.Value.ToString(), "TextBox with change on every input")) Class="w-100" />
            </RadzenCard>
        </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Disabled TextBox</RadzenText>
                <RadzenTextBox Disabled="true" Class="w-100" />
            </RadzenCard>
        </div>
    </div>
</div>


@code {
    string value;


    void OnChange(string value, string name) {

    }
}